<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h6 class="card-title">{{ department.departmentInfo.name }}</h6>
        <p class="text-center"><i class="far fa-hospital fa-4x" aria-hidden="true"></i></p>

        <div class="btn-group btn-group-toggle w-100">
            <button class="btn btn-success" ngbButtonLabel>
                {{ 'COMMON.OPEN' | translate }}
            </button>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem class="text-start" (click)="editDepartment(department.departmentId)"><i
                            class="fa fa-edit px-2" aria-hidden="true"></i>{{
                        'COMMON.EDIT' |
                        translate }}</button>
                    <button ngbDropdownItem class="text-start" (click)="deleteDepartment(department.departmentId)"><i
                            class="fa fa-trash px-2" aria-hidden="true"></i>{{
                        'COMMON.DELETE' |
                        translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>