<div class="mb-3">
    <div>
        <h4>{{ 'COMMON.DEPARTMENTS' | translate }}</h4>
    </div>

    <div class="row align-items-center">
        <div class="col-md-9 col-sm-12">
            <input class="form-control w-100" type="text" placeholder="{{'COMMON.SEARCH' | translate}}"
                [(ngModel)]='searchTerm' (ngModelChange)='searchChanged($event)' autocomplete="off" />
        </div>
        <div class="col-md-3 col-sm-12 mt-3 mt-md-0">
            <button type="button" class="btn btn-success w-100" (click)="navigateToDepartment()">{{
                'DEPARTMENTS.CREATE_NEW_DEPARTMENTS' | translate}}</button>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-md-start justify-content-sm-center justify-content-xs-center">
        <ng-container *ngFor="let department of filteredDepartmentList">
            <app-department-card class="m-2" [department]="department" (onEditEvent)="editDepartment($event)"
                (onDeleteEvent)="deleteDepartment($event)"></app-department-card>
        </ng-container>
    </div>
</div>